.App {
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.info {
    border-collapse: collapse;
    width: 100%;

}

.info th,
.info td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.info th {
    background-color: #f2f2f2;
}

.info tr:nth-child(even) {
    background-color: #f2f2f2;
}

.info tr:hover {
    background-color: #dddddd;
}


.books th,
.books td {
    padding: 8px;
    border: 1px solid #ddd;
}

.books th {
    text-align: left;
    background-color: #f2f2f2;
}

.books tr:nth-child(even) {
    background-color: #f2f2f2;
}

.books tr:hover {
    background-color: #ddd;
}

.books td:not(:last-child) {
    padding-right: 20px;
}


.delete {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
    grid-column: 8 / 9;
}

.update {
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
    grid-column: 9 / 10; 
}

.form-manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 20px;
    text-align: center;
}


.form{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    gap: 20px;
    text-align: center;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(74, 136, 244);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .header-container {
    background-color: #ffffff;
    color: rgb(39, 39, 39);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .header-title {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
  }

  .login-container {
    margin-top: 70px;
  }
  
  .add-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .search-container {
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    width: 50%;
  }

